.ProductsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 5em;
  box-shadow: 2px 2px 2px 2px #222;
  border-top: 3px solid #222;
}

.ProductId {
  text-align: right;
  border-right: 1px solid #d4d3d3; 
}

.ProductsTable th, .ProductsTable td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #d4d3d3; 
  border-right: 1px solid #d4d3d3; 
}

.ProductsTable th {
  background-color: #3b3b3b;
  padding: 20px;
  border-right: 1px solid #f0f0f0; 
}

.ProductsTable tbody {
  border-radius: 10px;
  background-color: #f0f0f0;
}

.ProductsTable button {
  color: #222;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-right: 5px;
}

.titles {
  color: #f0f0f0;
  text-align: left;
}