.ProductsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 5em;
  box-shadow: 2px 2px 2px 2px #222;
  border-collapse:separate;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
          
}


.ProductsTable th, .ProductsTable td {
  padding: 10px;
  text-align: left;
  
}

.ProductsTable th {
   background-color: #222;
  padding: 20px;
}
.ProductsTable tbody {
  border-radius: 10px;
  background-color: #f9f8f3;
} 

.ProductsTable button {
  color: #222;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-right: 5px;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  border-top: 3px solid #222;
  border-spacing: 0px;
}

th, td {
  padding: 1em;
  border-bottom: 2px ; 
}

.titles{
  color: #fef7e1;
}