.footer {
  background-color: #3b3b3b;
  color: #FFF;
  padding: 1em 0 1em 0;
  text-align: center;
  margin-top: 1em;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 1em;
}

.social_list li:hover {
  color: #FFBB33;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
}

.copy_right {
  margin-top: 1em;

}

.copy_right span {
  font-weight: bold;
  color: #FFBB33;

}