

.navbar {
  justify-content: space-between;
  background-color: #222;
  padding: 0em;
  width: 100%;
}

.list{
  display: flex;
  list-style: none;
  align-items: center;

}

.item {
  margin-right: 1em;

}

.item a{
  color: #FFF;
  text-decoration: none;
}
.item a:hover{
  color: #FFBB33;
}