.navbar {
  justify-content: space-between;
  background-color: #222;
  padding: 0em;
  width: 100%;
  height: 18%;
}

.list{
  display: flex;
  list-style: none;
  align-items: center;

}

.item {
  margin-right: 2em;
  font-weight: bold; 


}

.item a{
  color:#fef7e1;
  text-decoration: none;
}
.item a:hover{
  color: #e2aa87;
}

.logo {
  margin-left: 2em;
  margin-top: 1em;
}